@charset"UTF-8";

.wrapper{
  width: 400px;
  margin: 0 auto;
}

/* headerデザイン */
header{
  height: 100px;
  background: #ff0000;
  position: relative;
}

.header_inner{
  box-sizing: border-box;
  background: #ffffff;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.header_inner_box{
  width: 40px;
  height: 40px;
  background: #a9004b;
  margin-right: 10px;
  float: left;
}

.header_inner_box:last-of-type{
  margin: 0;
}


/* mainデザイン */
.left{
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}

.right{
  width: 250px;
  height: 250px;
  background: #8c2727;
  position: relative;
  float: left;
}

.right_inner{
  position: absolute;
  top: 40px;
  left: 40px;
}

.right_inner_box{
  width: 140px;
  height: 40px;
  background: #ff863f;
  border: #ffffff solid 5px;
  margin-bottom: 10px;
  
}

.right_inner_box:last-of-type{
  margin-bottom: 0;
}




/* footerデザイン */
footer{
  height: 100px;
  background: #ffd000;
}


/* clearfix */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}